<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/panel.css">

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        .square-image {
            width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        #imagePreview {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-car"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Amani motors <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
          

            <!-- Divider -->
         
            

            <!-- Nav Item - Utilities Collapse Menu -->
          

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
           
            <!-- Nav Item - Charts -->
         
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

          

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        

                      

                     

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div>
                        <a id="generateReportButton" href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
                        </a>
                    </div>
                    <br>
                    <br>

                    <!-- Content Row -->
                   

                    <!-- Content Row -->

                   
                        <!-- Pie Chart -->
                      

                    <!-- Content Row -->
                    <div class="row">
                    

<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Cars</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addCarModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Car</span></a>
											
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						
                        <th>Brand</th>
                        <th>Car type</th>
                        <th>Fuel </th>
						<th>Model</th>
                        <th>Year</th>
                        <th>Color</th>
                        <th>Variant</th>
                        <th>Kms</th>
                        <th>Ownership</th>
                        <th>Transmission</th>
                        <th>Price</th>
                        <th>BannerImage</th>
                        <th>Image</th>    
                            <th>RegNo</th>
                            <th>Status</th>
                    </tr>
                </thead>
                <tbody>
            {{range .Cars}}
                    <tr>
						
                        <td>{{.Brand}}</td>
                        <td>{{.CarType}}</td>
                        <td>{{.FuelType}}</td>
                        <td>{{.Model}}</td>
						<td>{{.Year}}</td>
                        <td>{{.Color}}</td>
                        <td>{{.Variant}}</td>
                        <td>{{.Kms}}</td>
                        <td>{{.Ownership}}</td>
                        <td>{{.Transmission}}</td>
                        <td>{{.Price}}</td>
                        <td> <img src="{{.Bannerimage}}" alt="jack" class="square-image" style="width: 50px; height: auto;"></td>
                        <td>
                            <div class="image-field">
                                {{with index .Images 0}}
                <img src="{{.Path}}" alt="Car Image" class="square-image" style="width: 50px; height: auto;">
                {{end}}
                            </div>
                        </td>
        </div>
                           
                        </td>
                        <td>{{.RegNo}}</td>
                        <td>{{.Status}}</td>
                        <td>
                            <a href="#editCarModal-{{.ID}}" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="#deleteCarModal-{{.ID}}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    </tr>
                   {{end}}
                </tbody>
            </table>
			<div class="clearfix">
                <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">Previous</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item active"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
	<!-- Add Modal HTML -->
    <div id="addCarModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/admin/cars/add" method="post" enctype="multipart/form-data">
                    <div class="modal-header">                        
                        <h4 class="modal-title">Add Car</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">                    
                        <div class="form-group">
                            <label>Brand</label>
                            <input type="text" name="brand" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" name="model" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <input type="text" name="year" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <input type="text" name="color" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Variant</label>
                            <input type="text" name="variant" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Kms</label>
                            <input type="number" name="kms" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Ownership</label>
                            <input type="text" name="ownership" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Transmission</label>
                            <input type="text" name="transmission" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" name="price" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Car Type</label>
                         <select name="car_type" id="carType" class="form-control" requried>
                         </select>
                        </div>
                        <div class="form-group">
                            <label>Fuel Type</label>
                         <select name="fuel_type" id="fuelType" class="form-control" required>
                         </select>
                        </div>


                        
                        <div class="form-group">
                            <label>Banner image</label>
                            <input type="file" name="bannerimage"   accept="image/*" required>
                        </div>
                        <div class="form-group">
                            <label>Images</label>
                            <div id="imageInputsContainer">
                                <input type="file" name="images[]" class="form-control-file image-input" accept="image/*" required>
                            </div>
                            <button type="button" id="addImageInput" class="btn btn-primary mt-2">Add Another Image</button>
                        </div>
                        <div id="imagePreview"></div>
                    
                       
                        <div class="form-group">
                            <label>RegNo</label>
                            <input type="text" name="regno" class="form-control" required>
                        </div>        
                        <div class="form-group">
                            <label>Status</label>
                            <input type="text" name="status" class="form-control" required>
                        </div>                                
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{range .Cars}}
    <div id="editCarModal-{{.ID}}" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="editForm-{{.ID}}" action="/admin/cars/edit/{{.ID}}" method="post" enctype="multipart/form-data">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Car</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Brand</label>
                            <input type="text" name="brand" value="{{.Brand}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Model</label>
                            <input type="text" name="model" value="{{.Model}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Year</label>
                            <input type="text" name="year" class="form-control" value="{{.Year}}" required>
                        </div>
                        <div class="form-group">
                            <label>Color</label>
                            <input type="text" name="color" value="{{.Color}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Variant</label>
                            <input type="text" name="variant" value="{{.Variant}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Kms</label>
                            <input type="text" name="kms" value="{{.Kms}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Car Type</label>
                            <select name="car_type" class="form-control" required>
                                <option value="{{.CarType}}" selected>{{.CarType}}</option>
                                {{range $.CarTypes}}
                                {{if ne . $.CarType}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Fuel Type</label>
                            <select name="fuel_type" class="form-control" required>
                                <option value="{{.FuelType}}" selected>{{.FuelType}}</option>
                                {{range $.FuelTypes}}
                                {{if ne . $.FuelType}}
                                <option value="{{.}}">{{.}}</option>
                                {{end}}
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Ownership</label>
                            <input type="text" name="ownership" value="{{.Ownership}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Transmission</label>
                            <input type="text" name="transmission" value="{{.Transmission}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" name="price" value="{{.Price}}" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Banner Image</label>
                            <img src="{{.Bannerimage}}" alt="Existing Banner Image" style="width: 100px; height: auto;">
                            <input type="file" name="bannerimage" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Images</label>
                            <div id="existingImages">
                                {{range .Images}}
                                <img src="{{.Path}}" class="existing-image" alt="Existing Image" style="width: 100px; height: auto;">
                                <input type="hidden" name="existing_images[]" value="{{.Path}}">
                                {{end}}
                            </div>
                        </div>
                        <div id="imagePreview-{{.ID}}" class="image-preview"></div>
                        <div class="form-group">
                            <label>RegNo</label>
                            <input type="text" name="regno" class="form-control" value="{{.RegNo}}" required>
                        </div>
                        <div class="form-group">
                            <label>Status</label>
                            <input type="text" name="status" class="form-control" value="{{.Status}}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{end}}


   {{range .Cars}}
	<!-- Delete Modal HTML -->
	<div id="deleteCarModal-{{.ID}}" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form id="deleteForm-{{.ID}}" action="/admin/cars/delete/{{.ID}}" method="post" enctype="multipart/form-data">
					<div class="modal-header">						
						<h4 class="modal-title">Delete Car</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records-<b>{{.Brand}}</b></p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>
    {{end}} 

                       
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
   
    <script>
      
        document.addEventListener('DOMContentLoaded', function() {
            fetch('/myapp/get_choices')
                .then(response => response.json())
                .then(data => {
                    const carTypes = data.car_types;
                    const fuelTypes = data.fuel_types;
        
                    const carTypeSelect = document.getElementById('carType');
                    const fuelTypeSelect = document.getElementById('fuelType');
        
                    carTypes.forEach(carType => {
                        const option = document.createElement('option');
                        option.value = carType;
                        option.textContent = carType;
                        carTypeSelect.appendChild(option);
                    });
        
                    fuelTypes.forEach(fuelType => {
                        const option = document.createElement('option');
                        option.value = fuelType;
                        option.textContent = fuelType;
                        fuelTypeSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching choices:', error));
        });











        // Function to add a new file input
        function addImageInput() {
            const container = document.getElementById('imageInputsContainer');
            const newInput = document.createElement('input');
            newInput.type = 'file';
            newInput.name = 'images[]';
            newInput.classList.add('form-control-file', 'image-input');
            newInput.accept = 'image/*';
            container.appendChild(newInput);
        }
    
        // Event listener to handle click on the "Add Another Image" button
        document.getElementById('addImageInput').addEventListener('click', function() {
            addImageInput();
        });
    
        // Event listener to handle change in file inputs
        document.getElementById('imageInputsContainer').addEventListener('change', function(event) {
            if (event.target && event.target.classList.contains('image-input')) {
                const files = event.target.files;
                const previewContainer = document.getElementById('imagePreview');
                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    const reader = new FileReader();
                    reader.onload = function() {
                        const image = new Image();
                        image.src = reader.result;
                        image.classList.add('square-image');
                        previewContainer.appendChild(image);
                    }
                    reader.readAsDataURL(file);
                }
            }
        });
    
        // Event listener to handle PDF generation button click
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("generateReportButton").addEventListener("click", function() {
                // Send a request to fetch the PDF file
                fetch("/admin/cars/pdf_report")
                    .then(response => response.blob())
                    .then(blob => {
                        // Create a URL for the blob
                        const url = window.URL.createObjectURL(blob);
    
                        // Create a link element
                        const a = document.createElement("a");
                        a.href = url;
                        a.download = "report.pdf"; // Set the file name for download
                        document.body.appendChild(a);
                        
                        // Trigger the click event to start the download
                        a.click();
    
                        // Remove the link element after download
                        window.URL.revokeObjectURL(url);
                        document.body.removeChild(a);
                    })
                    .catch(error => console.error("Error fetching PDF:", error));
            });
        });
    </script>
    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

</body>

</html>