<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin | Amanimotors</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/panel.css">

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <link rel="icon" href="/static/icon/rrlogo.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/static/css/pen.css">
    <style>
        #imagePreview {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            /* 3 columns with equal width */
            gap: 10px;
            /* Adjust spacing between images */
        }

        .square-image {
            width: 60%;
            /* Occupy full width of its grid cell */
            height: auto;
            /* Maintain aspect ratio */
            object-fit: cover;
            /* Ensure the image covers the entire container */
            border-radius: 5px;
            /* Optional: Add rounded corners */
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            /* Optional: Add shadow effect */
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-car"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Amani motors <sup></sup></div>

            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->


            <!-- Divider -->



            <!-- Nav Item - Utilities Collapse Menu -->


            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <!-- <div class="sidebar-heading d-flex align-items-center justify-content-around w-[100%] bg-danger">
                <div class="sidebar-brand-icon ">
                    <i class="fas fa-car"></i>
                </div>
                <p class="sidebar-brand-text mx-3">
                    Addons
                </p>
            </div> -->
            <a class="sidebar-brand d-flex align-items-center justify-content-around w-full " href="/admin">
                <div style="font-size: 1rem;" class=" font-weight-normal">
                    <i class="fa fa-home"></i>
                </div>
                <div class="sidebar-brand-text font-weight-normal  btn btn-sm btn-outline-light">
                    <small>Dashboard</small> <sup></sup>
                </div>
            </a>

            <a class="sidebar-brand d-flex align-items-center justify-content-around w-full"
                href="/admin/get_youtube_link_form">
                <div style="font-size: 1rem;" class=" font-weight-normal">
                    <i class="material-icons">play_circle_filled</i>
                </div>
                <div class="sidebar-brand-text font-weight-normal btn btn-sm btn-outline-light ">
                    <small>YouTube</small> <sup></sup>
                </div>
            </a>

            <a class="sidebar-brand d-flex align-items-center justify-content-around w-full"
                href="/admin/get_brand_page">
                <div style="font-size: 1rem;" class=" font-weight-normal">
                    <i class="fa fa-bold" aria-hidden="true"></i>

                </div>
                <div class="sidebar-brand-text font-weight-normal btn btn-sm btn-outline-light ">
                    <small>Brands</small> <sup></sup>
                </div>
            </a>
            <br>
            <br>

            <br>
            <br>
            <br>

            <br>
            <br>


            <!-- Nav Item - Pages Collapse Menu -->

            <!-- Nav Item - Charts -->

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>



        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- End of Topbar -->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="/admin/cars/edit/{{.Car.ID}}" method="POST" id="step-form-horizontal"
                                enctype="multipart/form-data">
                                <div>
                                    <h4>Edit page</h4>
                                    <section>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputEmail4">Brand</label>
                                                    <select id="brand" name="brand" class="form-control">
                                                        {{range .Brands}}
                                                        <option value="{{.ID}}" {{if eq .ID
                                                            $.Car.BrandID}}selected{{end}}>{{.Name}}
                                                        </option>
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputPassword4">Engine size</label>
                                                    <input type="text" class="form-control" name="engine_size"
                                                        value="{{.Car.Engine_size}}" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputAddress">Insurance date</label>
                                                    <input type="text" class="form-control" name="insurance_date"
                                                        id="inputAddress" value="{{.Car.Insurance_date}}"
                                                        placeholder="1234 Main St" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputAddress2">Location</label>
                                                    <input type="text" class="form-control" name="location"
                                                        value="{{.Car.Location}}" id="inputAddress2"
                                                        placeholder="Apartment, studio, or floor" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputCity">Model</label>
                                                    <input type="text" class="form-control" value="{{.Car.Model}}"
                                                        name="model" id="inputCity" />


                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputState">Year</label>
                                                    <input type="number" class="form-control" value="{{.Car.Year}}"
                                                        name="year" id="inputCity" />
                                                </div>
                                            </div>

                                        </div>
                                    </section>

                                    <section>
                                        <div class="row">


                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputZip">Color</label>
                                                    <input type="text" name="color" value="{{.Car.Year}}"
                                                        class="form-control" id="inputZip" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">

                                                    <label>RegNo</label>
                                                    <input type="text" name="regno" class="form-control"
                                                        value="{{.Car.RegNo}}" required>

                                                </div>
                                            </div>


                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Status</label>
                                                    <select name="status" class="form-control" required>
                                                        <option value="sold" {{if eq .Car.Status "sold"
                                                            }}selected{{end}}>Sold</option>
                                                        <option value="available" {{if eq .Car.Status "available"
                                                            }}selected{{end}}>
                                                            Available</option>
                                                    </select>

                                                </div>
                                            </div>


                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Car Type</label>
                                                    <select name="car_type" id="carType" class="form-control" required>
                                                        {{range .CarTypes}}
                                                        <option value="{{.}}" {{if eq . $.Car.CarType}}selected{{end}}>
                                                            {{.}}
                                                        </option>
                                                        {{end}}
                                                    </select>

                                                </div>
                                            </div>



                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputZip">Variant</label>
                                                    <input type="text" name="variant" value="{{.Car.Variant}}"
                                                        class="form-control" id="inputZip">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="inputZip">Kms</label>
                                                    <input type="number" name="kms" value="{{.Car.Kms}}"
                                                        class="form-control" id="inputZip">
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                </section>

                                <section>
                                    <div class="row">

                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Fuel Type</label>
                                                <select name="fuel_type" id="fuelType" class="form-control" required>
                                                    {{range .FuelTypes}}
                                                    <option value="{{.}}" {{if eq . $.Car.FuelType}}selected{{end}}>
                                                        {{.}}</option>
                                                    {{end}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Ownership</label>
                                                <input type="number" name="ownership" value="{{.Car.Ownership}}"
                                                    class="form-control" required>

                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Transmission</label>
                                                <input type="text" name="transmission" value="{{.Car.Transmission}}"
                                                    class="form-control" required>

                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label>Price</label>
                                                <input type="text" name="price" value="{{.Car.Price}}"
                                                    class="form-control" required>

                                            </div>
                                        </div>




                                    </div>
                                </section>



                                <div class="row p-3">
                                    <div class="form-group w-100 border rounded p-2">
                                        <label>Banner Image</label>
                                        <div class="image-grid">
                                            <img src="{{.Car.Bannerimage}}" alt="Existing Banner Image"
                                                style="width: 50px; height: auto;">
                                        </div>
                                        <a href="https://www.remove.bg/upload" target="blank">
                                            <p><strong>Click here to remove background<strong>
                                            </p>
                                        </a>
                                        <input type="file" id="bannerImageInput" name="bannerimage"
                                            class="form-control">
                                        <div id="PreviousImage"></div>
                                    </div>
                                </div>

                                <div class="my-2 container border rounded p-3">
                                    <div class="row">
                                        <div class="form-group">
                                            <label>Images</label>
                                            <div id="existingImages" class="image-grid d-flex">
                                                {{ if .Car.Images }}
                                                {{ range .Car.Images }}
                                                <div class="existing-image-container" id="container_{{ .ID }}">
                                                    <input type="checkbox" name="delete_images" value="{{ .ID }}"
                                                        onchange="toggleImageVisibility('{{ .ID }}')">
                                                    <br>
                                                    <img style="width: 50px; height: auto;" src="{{ .Path }}"
                                                        class="existing-image" alt="Existing Image"
                                                        id="image_{{ .ID }}">
                                                    <br>
                                                    <br>
                                                    <label for="replace_image_{{ .ID }}">
                                                        <i class="fa fa-plus" aria-hidden="true"
                                                            style="cursor: pointer;"></i>
                                                    </label>
                                                    <input type="file" id="replace_image_{{ .ID }}"
                                                        name="replace_image_{{ .ID }}"
                                                        class="form-control-file image-input" accept="image/*"
                                                        style="display:none;"
                                                        onchange="replaceImage('{{ .ID }}', event)">
                                                </div>
                                                {{ end }}
                                                {{ else }}
                                                <p>No images available.</p>
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="container">
                                            <div class="form-group">
                                                <label>Update Images</label>
                                                <div id="imageInputsContainer">
                                                    <input type="file" name="images[]"
                                                        class="form-control-file image-input" accept="image/*">
                                                </div>
                                                <button type="button" id="addImageInput"
                                                    class="btn btn-primary mt-2">Add Another Image</button>
                                            </div>
                                            <div id="imagePreview"></div>
                                            <div id="ReplaceImage"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row pb-3">
                                    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
                                        <button type="submit" class="btn btn-success btn-block">Submit</button>
                                    </div>
                                </div>
                        </div>

                        </form>
                    </div>
                </div>

                <!-- Begin Page Content -->
                <!-- Scroll to Top Button-->

                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <script>

                    function toggleImageVisibility(id) {
                        console.log('Toggle visibility for ID:', id); // Debugging step
                        var checkbox = document.querySelector(`input[name="delete_images"][value="${id}"]`);
                        var imageContainer = document.getElementById(`container_${id}`);
                        console.log('Checkbox:', checkbox); // Debugging step
                        console.log('Image Container:', imageContainer); // Debugging step
                        if (checkbox && imageContainer) {
                            if (checkbox.checked) {
                                imageContainer.style.display = 'none';
                            } else {
                                imageContainer.style.display = 'block';
                            }
                        } else {
                            console.error('Element not found for ID:', id); // Debugging step
                        }
                    }






                    document.getElementById('bannerImageInput').addEventListener('change', function (event) {
                        const imagePreview = document.getElementById('PreviousImage');
                        imagePreview.innerHTML = ''; // Clear previous preview

                        const file = event.target.files[0];
                        if (file) {
                            const reader = new FileReader();
                            reader.onload = function (e) {
                                const img = document.createElement('img');
                                img.src = e.target.result;
                                img.style = 'width: 50px; height: 50px;'
                                imagePreview.appendChild(img);
                            };
                            reader.readAsDataURL(file);
                        }
                    });













                    function replaceImage(imageID, event) {
                        var fileInput = event.target;
                        var file = fileInput.files[0];
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            var imageElement = document.getElementById('image_' + imageID);
                            imageElement.src = e.target.result;
                        }

                        reader.readAsDataURL(file);

                        // Optionally, you can also submit the form automatically to save the new image on the server
                        // var form = fileInput.closest('form');
                        // form.submit();
                    }
                    document.getElementById('addAnotherlink').addEventListener('click', function () {
                        var container = document.getElementById('Youtubelinkcontainer');
                        var newInput = document.createElement('input');
                        newInput.type = 'url';
                        newInput.name = 'links[]'; // Ensure name ends with []
                        newInput.className = 'form-control mt-2';
                        newInput.required = true;
                        container.appendChild(newInput);
                    });
                    document.addEventListener("DOMContentLoaded", function () {
                        const addImageInputButton = document.getElementById("addImageInput");
                        const imageInputsContainer = document.getElementById("imageInputsContainer");

                        addImageInputButton.addEventListener("click", function () {
                            const newImageInput = document.createElement("input");
                            newImageInput.type = "file";
                            newImageInput.name = "images[]";
                            newImageInput.className = "form-control-file image-input";
                            newImageInput.accept = "image/*";
                            imageInputsContainer.appendChild(newImageInput);
                        });
                    });

                </script>
                <script src="/static/js/almas.js"></script>
                <script src="/static/vendor/jquery/jquery.min.js"></script>
                <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


                <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>


                <script src="/static/js/sb-admin-2.min.js"></script>


                <script src="/static/vendor/chart.js/Chart.min.js"></script>
                <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>



                <script src="/static/js/demo/chart-area-demo.js"></script>
                <script src="/static/js/demo/chart-pie-demo.js"></script>


</body>

</html>