<table class="table">
    <form action="/admin/cars/edit/{{.Car.ID}}" method="POST"  enctype="multipart/form-data">
        <div class="form-row">
          <div class="form-group ">
            <label for="inputEmail4">Brand</label>
            <select id="brand" name="brand" class="form-control">
                {{range .Brands}}
                    <option value="{{.ID}}" {{if eq .ID $.Car.BrandID}}selected{{end}}>{{.Name}}</option>
                {{end}}
            </select>

          </div>  
          
          </div>
          <div class="form-group ">
            <label for="inputPassword4">Engine size</label>
            <input type="text" class="form-control" name="engine_size" value="{{.Car.Engine_size}}" >
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Insurance date</label>
          <input type="text" class="form-control" name="insurance_date" id="inputAddress" value="{{.Car.Insurance_date}}" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Location</label>
          <input type="text" class="form-control" name="location" value="{{.Car.Location}}" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="inputCity">Model</label>
            <input type="text" class="form-control" value="{{.Car.Model}}"  name="model" id="inputCity">
          </div>
          <div class="form-group ">
            <label for="inputState">Year</label>
            <input type="number" class="form-control" value="{{.Car.Year}}" name="year" id="inputCity">
            
          </div>
          <div class="form-group">
            <label for="inputZip">Color</label>
            <input type="text" name="color"  value="{{.Car.Year}}"    class="form-control" id="inputZip">
          </div>
          <div class="form-group ">
            <label for="inputZip">Variant</label>
            <input type="text" name="variant" value="{{.Car.Variant}}" class="form-control" id="inputZip">
          </div>
          <div class="form-group">
            <label for="inputZip">Kms</label>
            <input type="number" name="variant" value="{{.Car.Kms}}" class="form-control" id="inputZip">
          </div>
          <div class="form-group">
            <label>Car Type</label>
            <select name="car_type" id="carType" class="form-control" required>
                {{range .CarTypes}}
                <option value="{{.}}" {{if eq . $.Car.CarType}}selected{{end}}>{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="form-group">
            <label>Fuel Type</label>
            <select name="fuel_type" id="fuelType" class="form-control" required>
                {{range .FuelTypes}}
                <option value="{{.}}" {{if eq . $.Car.FuelType}}selected{{end}}>{{.}}</option>
                {{end}}
            </select>
        </div>
        <div class="form-group">
            <label>Ownership</label>
            <input type="number" name="ownership" value="{{.Car.Ownership}}"
                class="form-control" required>
        </div>
        <div class="form-group">
            <label>Transmission</label>
            <input type="text" name="transmission" value="{{.Car.Transmission}}"
                class="form-control" required>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" name="price" value="{{.Car.Price}}" class="form-control"
                required>
        </div>
        <div class="form-group">
            <label>Banner Image</label>
            <img src="{{.Car.Bannerimage}}" alt="Existing Banner Image"
                style="width: 100px; height: auto;">
            <a href="https://www.remove.bg/upload" target="blank">
                <p><strong>Click here to remove background<strong></p>
            </a>
            <input type="file" name="bannerimage" class="form-control">
        </div>
        <div class="form-group">
            <label>Images</label>
            <div id="existingImages">
                {{range .Car.Images}}
                    <div class="existing-image-container">
                        <img src="{{.Path}}" class="existing-image" alt="Existing Image" style="width: 100px; height: auto;">
                        <input type="hidden" name="existing_images[]" value="{{.Path}}">
                     
                       
                    </div>
                {{end}}
                <div id="additionalImagesContainer">
                    <label>Add Image</label>
                    <input type="file" name="images[]" class="form-control">
                    <input type="file" name="images[]" class="form-control">
                    <input type="file" name="images[]" class="form-control">
                    <input type="file" name="images[]" class="form-control">
                    <input type="file" name="images[]" class="form-control">
                    <input type="file" name="images[]" class="form-control">
                    <input type="file" name="images[]" class="form-control">
                </div>
            </div>
           
        </div>
        <div id="imagePreview-{{.ID}}" class="image-preview"></div>
            <div class="form-group">
                <label>RegNo</label>
                <input type="text" name="regno" class="form-control" value="{{.Car.RegNo}}"
                    required>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select name="status" class="form-control" required>
                    <option value="sold" {{if eq .Status "sold"}}selected{{end}}>Sold</option>
                    <option value="available" {{if eq .Status "available"}}selected{{end}}>Available</option>
                </select>
            </div>
           







          
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
    


    
   
      
  </table>
  </div>
  

</div>
</div>
</div>